// golden ratio
$phi: 1.6180339887498948482;

@function golden-ratio($value, $increment)
  @return modular-scale($value, $increment, $phi)
    
// font
$font-family-hk: 'HKGrotesk', sans-serif

// colors
$brand_white: #fff
$brand_primary: #314452
$brand_primary_dark: #212E3E
$brand_secondary: #903F46
$brand_secondary_dark: #89252F
$brand_ternary: #BCB29C